---
import {Icon} from 'astro-icon'
import {
  AnnouncementBar,
	Button,
	CustomerQuoteSection,
	ThreeColumnTextSection,
	YouTubeEmbedSection,
  StickyTextImageSection,
  CtaCardSection
} from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import TextAndImageHero from '../../components/sections/heros/TextAndImageHero.astro';

const seo = {
	title: 'Landing Page #1 | Astro Odyssey Theme',
	description: 'Landing Page #1 | Astro Odyssey Theme',
};
---


<Layout seo={seo} >
	<TextAndImageHero reversed>
		<div slot="text-container">
			<h1>OnlyFans Marketing specialists!</h1>
			<p>Partner with Celestia to jumpstart your OnlyFans account.</p>
		</div>
		</div>
		<picture slot="image-container">
			<img
				src="/assets/images/landing-1/model.png"
				alt="Astro Odyssee"
				id="home-hero-image"
			/>
		</picture>
	</TextAndImageHero>

	<CustomerQuoteSection
		quoteText="Celestia Marketing has been instrumental in our success. Their marketing expertise and strategies have significantly boosted our brand visibility and engagement."
		customerName="Selina"
	/>

	<ThreeColumnTextSection>
		<div slot="column-1-body">
			<h2>Why?</h2>
			<p>
				We are the best in the business. With our proven track record,
				 scaling OnlyFans earnings 5x is no problem for us!
			</p>
		</div>
		<div slot="column-2-body">
			<h2>How?</h2>
			<p>
				Just send us a partner email. Our Account Manager will reach out to you.
			</p>
		</div>
		<div slot="column-3-body">
			<h2>Privacy?</h2>
			<p>
				All your data and information will private. We hold privacy to the highest standard.
			</p>
		</div>
	</ThreeColumnTextSection>


  <StickyTextImageSection>
    <div slot="text-container">
      <h3>Expertise scaling</h3>
      <p>
        Within this captivating screenshot, you'll witness the exceptional prowess of our dedicated marketing team.
         In a mere span of a few months, we've achieved an astonishing financial milestone, scaling this account to over
          $100,000. This remarkable success can be attributed to our unwavering commitment and substantial investments
           in the art of marketing, specifically tailored to elevate the visibility and engagement of our exceptional
            models. We take pride in our ability to craft and execute innovative marketing strategies that not only
             attract but also captivate audiences, ultimately driving significant financial growth and recognition
              for our clients.
      </p>
      <h3>No more working!</h3>
      <p>
        We will take over the entire boring work for you. This means 24/7 chatting, posting on social media,
        accounting and taxes and partnering with other brands!
      </p>
      <h3>50/50</h3>
      <p>
        We are the Only agency who will do all this work for you, and still give you half of the business!
      </p>
    </div>
     <picture slot="image-container">
      <img
        src="/assets/images/landing-1/screenshot.png"
        alt="Astro Odyssey"
        loading="lazy"
      />
    </picture>
  </StickyTextImageSection>

  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    <h2>Start partnering with us today!</h2>
    <p>Send us an email to have a new, care free OnlyFans account</p>
    <h3>support@celestia-agency.com</h3>
  </CtaCardSection>

</Layout>

